Create Hot_News_MCP_n8n/Get WebSite Markdown.json
{
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.url }} 의 html 문서를 수집하고 처리해줘.",
        "options": {
          "systemMessage": "너는 웹페이지의 스크랩하는 전문가야. 불필요한 내용은 제외하고 마크다운으로 출력해야한다.\n불필요한 코드와 서식, 스타일, 아이콘, 이미지, 주석, 광고 링크, 관련없는 다른 사이트 링크, 네이게이션 메뉴 정보 는 제거하고,\n본문 컨텐츠의 모든 텍스트와 하위 링크 정보를 마크다운 형식으로 정리해줘. 본문 컨텐츠는 요약하지 말고 모두 가져온다.\n최초 html을 요청시, 사용할 도구는 Puppeteer이며, 이를 위 내용에 맞춰 정리한다.\n위 내용에 대한 마크다운 생성은 도구를 사용하는것이 아니라, 너가 직접 수행해."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.8,
      "position": [
        120,
        -60
      ],
      "id": "e8a636eb-de44-4413-9e16-3feaa0d48b23",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "b93572e8-4942-472a-b7d4-55612e67201f",
              "name": "id",
              "value": "={{ $now.format('yyyyMMddHHMMss') }}",
              "type": "string"
            },
            {
              "id": "a7c613c5-c0c9-41d4-be0a-881f6745df9b",
              "name": "url",
              "value": "={{ $json.url }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -120,
        -60
      ],
      "id": "7db4994f-78e0-4c4b-8f19-446668d399cb",
      "name": "Session"
    },
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "url"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -380,
        -60
      ],
      "id": "2fc233fc-ee67-4d39-a596-a2e875fb0e3c",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Session').item.json.id }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        200,
        200
      ],
      "id": "6addf945-8dbb-45e1-afa9-4aa29ebf65db",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "url": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('URL', ``, 'string') }}",
        "options": {}
      },
      "type": "n8n-nodes-puppeteer.puppeteerTool",
      "typeVersion": 1,
      "position": [
        380,
        200
      ],
      "id": "193c764d-f583-455c-bd2b-94fe35c520fd",
      "name": "Puppeteer"
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.0-flash-lite",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        20,
        200
      ],
      "id": "8d289e53-9e4c-45d1-b75a-b16bf075927b",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "Z3Brr8OYWG6GT4XH",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    }
  ],
  "connections": {
    "Session": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Session",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Puppeteer": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {
    "When Executed by Another Workflow": [
      {
        "url": "https://openai.com/news/?display=list"
      }
    ]
  },
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "558d88703fb65b2d0e44613bc35916258b0f0bf983c5d4730c00c424b77ca36a"
  }
}
